<div class="container search-bar">
  <div class="search-bar-outer d-flex justify-content-around">
    <div class="search-bar-inner">
      <form action="/search">

        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="快速搜尋：輸入餐廳、分類"
            aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
    </div>
    </form>
    <div class="sort-bar">

      <div class="dropdown ">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-expanded="false" style="background: #9b4b4b; border:none;">
          依...排序
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="/sort/name">店名</a></li>
          <li><a class="dropdown-item" href="/sort/category">類別</a></li>
          <li><a class="dropdown-item" href="/sort/rating">評分：由高至低</a></li>
          <li><a class="dropdown-item" href="/sort/creation">新增順序：由新至舊</a></li>
        </ul>
      </div>
    </div>
  </div>




</div>


<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{!-- render restaurant cards --}}
        {{#each restaurants}}

        <a href="/restaurants/{{this._id}}" class="text-secondary">


          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2 fa-lg"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>


                {{!-- detail & edit button --}}
                <div class="d-flex justify-content-end align-items-center">
                  <a href="/restaurants/{{this._id}}" class="btn" style="display: inline"><i
                      class="fas fa-info-circle fa-lg"></i></a>
                  <a href="/restaurants/{{this._id}}/edit" class="btn" style="display: inline"><i class=" fas
                    fa-edit fa-lg"></i></a>
                  {{!-- delete button --}}
                  <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" style="border:0px;background:none;"><i
                        class="fas fa-trash-alt fa-lg"></i></button>
                  </form>
                </div>
              </span>
            </div>
          </div>
        </a>

        {{/each}}

      </div>
    </div>
  </div>
</div>